body {
	margin: 0;
	font-family: Segoe UI;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: white;
}

#backtotop {
	opacity: 0;
	z-index:99;
	background-image: url('uparrow.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: rgba(255,255,255,0.3);
	position: fixed;
	height: 60px;
	width: 60px;
	bottom: 50px;
	right: 50px;
	overflow: hidden;
}

.circle {
	position: absolute;
	width: 10%;
	height: 10%;
	border-radius: 100%;
	background-color: rgba(255,255,255,0.4);
	display: none;
}

#backtotop:hover {
	transition-property: all;
	transition-duration: 0.5s;
	width: 70px;
	height: 70px;
	bottom: 45px;
	right: 45px;
	
}

#partitiona {
	position: relative;
	width: 100%;
	background-image:url('back.jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

#welcome {
	padding: 2%;
	background-color: rgba(255,255,255,0.3);
	position: absolute;
	margin-top: 15%;
	margin-left: 20%;
	width: 60%;
	height: 40%;
}

#main {
	margin-top: 0;
	margin-bottom: 1%;
	text-align: center;
	font-size: 49px;
	font-family: Comfortaa;
	color: white;
	text-shadow: 1px 1px 2px black;
}

#description {
	display: block;
	margin:0px auto 0px auto;
	width: 40%;
	text-align: center;
	font-size: 15px;
	color: white;
	/*text-shadow: 0.5px 0.5px 0.5px black;*/
}

#login {
	position: absolute;
	width: 40%;
	padding: 2%;
	margin-left: 28%;
	margin-top: 3%;
	font-size:15px;
	color: white;
	background-color:transparent;
	border: 2px solid white;
}

#login:hover {
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	background-color: white;
	color: black;
}

.centertext {
	display: block;
	text-align: center;
}

#partitionb {
	position: relative;
	width: 100%;
	height:100vh;
    background-image:url('books1.jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.containright {
	border-collapse: collapse;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	margin-top: 16.5%;
	margin-left: 20%;
	width: 60%;
}

#featurea {
	display: none;
	width: 10%;
	background-image: url('rightarrow.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100% 50%;
}

#featureb {
	display: none;
	width: 10%;
	background-image: url('back.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100% 50%;
}

#featurec {
	display: none;
	width: 10%;
	background-image: url('rightarrow.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100% 50%;
}

.containleft {
	border-collapse: collapse;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	margin-top: 16.5%;
	margin-left: 20%;
	width: 60%;
}

.title {
	display: inline;
	font-family: Variane Script;
	font-size: 78px;
}

.table {
	margin-left: 10%;
	margin-top: 2.5%;
	position: absolute;
	width: 80%;
	height: 80%;
	border-collapse: collapse;
}

#partitionc {
	position: relative;
	width: 100%;
	height:100vh;
	background-image:url('people1.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#partitiond {
	position: relative;
	width: 100%;
	height:100vh;
	background-image:url('earth.jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@keyframes expandtable {
	0% {width: 60%; margin-left: 20%;}
	100% {width: 70%; margin-left: 15%;}
}

@keyframes shrinktable {
	0% {width: 70%; margin-left: 15%;}
	100% {width: 60%; margin-left: 20%;}
}

@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeout {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes bigger {
	0% {opacity:0.3; width: 10%; height: 10%;}
	50% {opacity: 0.7; width: 100%; margin: -50%; height: 100%;}
	100% {opacity: 0; width: 5000px; height: 5000px; margin: -500%;}
}