body {
    margin: 0;
    font-family: Roboto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.window {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 1px;
    transform-style: preserve-3d;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.s1 {
    transform: translateZ(-2px) scale(3.02);
    perspective: 1px;
    transform-style: preserve-3d;
}

.backImg {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.b1 {
    background-image: url('desk2.jpg');
}

.b2 {
    background-image: url('wall.jpeg');
}

.info {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.i1 {
    border: 1px solid;
    transform: translateZ(-1px) scale(2.3);
}

.title {
    font-size: 8vh;
    text-align: center;
}

.desc {
    width: 50%;
    text-align: center;
    margin: 1vh;
}

.t1 {
    
}