body {
    margin: 0;
    font-family: Roboto;
    font-size: 2.5vh;
}

#mainContainer {
    border-collapse: collapse;
    text-align: center;
    margin-top: 5vh;
}

#mainHeader {
    width: calc(100vw - 17px);
    font-size: 10vh;
    font-family: Ubuntu;
}

#mainPara {
    display: block;
    width: 50%;
    margin-left: 25%;
}

hr {
    width: 85%;
    border: 0.5px solid gray;
}

.container {
    width: 85%;
    margin-left: 7.5%;
}

.heading {
    display: block;
    margin-top: 3.5vh;
    font-family: Ubuntu;
    font-size: 5vh;
}