body {
    font-family : Roboto;
    margin: 0;
    padding: 1vh;
}

#textSpace {
    border: 1px solid;
    padding: 2vh;
}

#buttons {
    margin-top: 1vh;
    display: block;
    border-collapse: collapse;
    width: 100%;
}

#buttons td {
    width: 50vw;
}

#changeColor {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 2vh;
    font-family: Roboto;
    font-size: 2.3vh;
}

#changeSize {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 2vh;
    font-family: Roboto;
    font-size: 2.3vh;
}