body {
    margin: 0;
    font-family: Quicksand;
}

h1, h2, h3 {
    margin: 0;
}

#current {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#meterContainer {
    display: flex;
    align-items: center;
    margin-right: 5vh;
    height: 45vh;
    width: 45vh;
}

#meterBack {
    fill: rgba(0,0,0,0.1);
}

#meterLevel {
    fill: lightskyblue;
}

#meterContainer text {
    font-size: 8px;
    font-weight: bold;
}

#textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
}

#textContainer h2 {
    font-size: 30px;
}

#textContainer h1 {
    font-size: 80px;
}

#textContainer button {
    margin-top: 3vh;
    font-size: 15px;
    color: black;
    font-weight: bold;
    width: 12vw;
    padding: 12px;
    background-color: transparent;
    font-family: Quicksand;
    border: 1px solid;
    border-radius: 100px;
}